</main>

<script>
    // Character counter (for post editor)
    const textarea = document.getElementById("content");
    const counter = document.getElementById("charCount");

    if (textarea && counter) {
        textarea.addEventListener("input", () => {
            counter.textContent = textarea.value.length + " characters";
        });
    }

    

    // Profile dropdown toggle
    function toggleProfileMenu() {
        const menu = document.getElementById("profileDropdown");
        menu.style.display = menu.style.display === "block" ? "none" : "block";
    }

    // Close dropdown when clicking outside
    window.addEventListener("click", function (e) {
        const menu = document.getElementById("profileDropdown");
        const icon = document.querySelector(".profile-icon");

        if (!menu || !icon) return;

        if (!icon.contains(e.target) && !menu.contains(e.target)) {
            menu.style.display = "none";
        }
    });
</script>

<footer class="footer">
    <p>© 2026 Shayantan Ghosh. All rights reserved.</p>
</footer>

</body>


</html>
